extends layout

block content
  h1(style='margin-bottom: 20px;')= title

  - let Teaid = toShow._id
  - let Tea_flavour = toShow.Tea_flavour
  - let Tea_cost = toShow.Tea_cost
  - let Tea_quantity = toShow.Tea_quantity

  div.row(class='mb-4')
    div.mr-1(style='font-weight: bold;') ID is
    div(style='color: #3498db; font-size: 1.2em;') #{Teaid}

  - let actionid = "/resource/teas/" + Teaid
  form(id='TeaForm', action= actionid, method="PUT")
    .form-group
      label.TeaAttr(for='Tea_flavour' style='font-weight: bold; color: #3498db;') Tea flavour
      input#Tea_flavour.form-control(type='text', name='Tea_flavour', value= Tea_flavour )

    .form-group
      label.TeaAttr(for='Tea_cost' style='font-weight: bold; color: #e74c3c;') Tea cost
      input#Tea_cost.form-control(type='number', name='Tea_cost', value= Tea_cost )

    .form-group
      label.TeaAttr(for='Tea_quantity' style='font-weight: bold; color: #2ecc71;') Tea quantity
      input#Tea_quantity.form-control(type='number', name='Tea_quantity', value= Tea_quantity )

    button.btn.btn-primary(type="submit" style='margin-top: 15px;') Update Tea

  script.
    document.forms['TeaForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      
      // TODO: do something here to show the user that the form is being submitted
      
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO: handle the body
      }).catch((error) => {
        // TODO: handle the error
        alert("Update failed: " + error);
      });
    });
